# dependencies
/node_modules
/frontend/node_modules
/.pnp
.pnp.*

# python
__pycache__/
*.py[cod]
.venv/
backend/.venv/
*.egg-info/

# testing
/coverage

# production
/build
/frontend/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# official source files — never commit
/data/raw/**
!/data/raw/.gitkeep

# typescript
*.tsbuildinfo
